@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext");
html {
  background-color: #E5E5E5;
}

* {
  font-family: Roboto, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  height: 1620px;
  margin: 20px auto;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  background-color: #F3F3F3;
}

.left-column {
  position: relative;
  width: 370px;
  height: 1620px;
  background-color: #2D2D2D;
}

.circle-foto {
  position: absolute;
  width: 226px;
  height: 226px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 55px 72px 15px;
  background: url("/image/main_foto_sepia_2.jpg") no-repeat center center/cover;
}

.title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  color: #ffffff;
  letter-spacing: 3px;
}

.line {
  display: block;
  width: 227px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 15px;
}

.main-info-block {
  position: absolute;
  margin: 310px 0 0 65px;
}

.info-block {
  width: 250px;
  margin-bottom: 30px;
}

.info-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-block__item_foto {
  display: block;
  width: 30px;
  height: 30px;
  color: #ffffff;
}

.info-block__item_description {
  margin-left: 25px;
}

.info-block__item_description_1 {
  font-size: 19px;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.info-block__item_description_2 {
  color: #B4B0B0;
  letter-spacing: 2px;
}

.foto_1 {
  background: url("/image/person-female.png") no-repeat center center/cover;
}

.foto_2 {
  background: url("/image/phone.png") no-repeat center center/cover;
}

.foto_3 {
  background: url("/image/secured.png") no-repeat center center/cover;
}

.foto_4 {
  background: url("/image/web.png") no-repeat center center/cover;
}

.email,
.tel,
.vkontakte,
.facebook,
.linkedin,
.skype {
  text-decoration: none;
  color: #B4B0B0;
}

.email:hover,
.tel:hover,
.vkontakte:hover,
.facebook:hover,
.linkedin:hover,
.skype:hover {
  color: #ffffff;
  -webkit-transition: .8s;
  transition: .8s;
}

.foto_5 {
  background: url("/image/skype.png") no-repeat center center/cover;
}

.foto_6 {
  background: url("/image/linkedin.png") no-repeat center center/cover;
}

.foto_7 {
  background: url("/image/facebook.png") no-repeat center center/cover;
}

.foto_8 {
  background: url("/image/vkontakte.png") no-repeat center center/cover;
}

.right-column {
  width: 770px;
}

.main-name-block {
  width: 650px;
  height: 120px;
  text-align: right;
  margin-top: 100px;
}

.name-block {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 5px;
}

.position-block {
  font-size: 30px;
  letter-spacing: 4px;
  color: #4F4C4C;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  height: 1390px;
  margin-left: 50px;
}

.circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #2D2D2D;
}

.vertical-line {
  display: block;
  width: 2px;
  height: 525px;
  background-color: #2D2D2D;
}

.circle-mini {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #2D2D2D;
  background-color: #F3F3F3;
}

.circle-mini_1 {
  top: 86px;
}

.circle-mini_2 {
  top: 210px;
}

.circle-mini_3 {
  top: 381px;
}

.circle-mini_4 {
  top: 562px;
}

.main-block_left-column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 1390px;
  margin-top: 76px;
}

.main-block_right-column {
  width: 640px;
  height: 1390px;
  margin-left: 15px;
}

.title_main {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 90px;
  font-size: 21px;
  color: #2D2D2D;
  letter-spacing: 3px;
}

.line_main {
  display: block;
  width: 610px;
  height: 2px;
  background-color: #2D2D2D;
  margin-top: 15px;
}

.work-experince-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-experince-block-year {
  width: 100px;
  text-align: right;
}

.year {
  width: 90px;
  color: #2D2D2D;
  font-weight: 600;
}

.month {
  width: 90px;
  font-size: 8px;
  color: #928F8F;
}

pre {
  margin: 0;
}

.work-experince-block-description {
  width: 510px;
}

.name-company {
  text-transform: uppercase;
  font-weight: 600;
  color: #2D2D2D;
  letter-spacing: 2px;
  margin-left: 40px;
}

.name-position {
  font-weight: 500;
  color: #2D2D2D;
  letter-spacing: 2px;
  margin-left: 40px;
}

li {
  font-size: 15px;
  color: #494949;
  letter-spacing: 2px;
  margin-bottom: 6px;
}

.circle-2 {
  position: absolute;
  margin-top: 762px;
}

.vertical-line-2 {
  margin-top: 236px;
  height: 85px;
}

.circle-mini_5 {
  top: 846px;
}

.circle-mini_6 {
  top: 893px;
}

.courses-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.couses-mod-text {
  font-size: 15px;
  color: #494949;
  letter-spacing: 2px;
  margin-bottom: 6px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 0;
}

.year-mod-text {
  width: 65px;
  color: #494949;
  font-weight: bold;
  margin-right: 0;
  margin-top: 10px;
}

.text-courses {
  text-transform: uppercase;
  color: #494949;
  font-weight: 500;
}

.hor-line {
  display: block;
  width: 72px;
  height: 1px;
  background-color: #494949;
  margin-top: 4px;
}

.description-courses {
  width: 440px;
}

.courses-block {
  margin-top: 10px;
}

.courses-list {
  margin-top: 35px;
}

.courses-block-pic {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-line-courses {
  position: absolute;
  top: 23px;
  display: block;
  width: 1px;
  height: 145px;
  background-color: #494949;
}

.circle-mini-courses {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #494949;
  background-color: #F3F3F3;
}

.circle-courses-mini_1 {
  top: 47px;
}

.circle-courses-mini_2 {
  top: 98px;
}

.circle-courses-mini_3 {
  top: 130px;
}

.circle-courses-mini_4 {
  top: 163px;
}
/*# sourceMappingURL=style.css.map */